button{
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.col-lg-4, .col-md-4, .col-sm-6, .col-xs-6, .row{
  margin: 0 !important;
  padding: 0 !important;
}

.img-responsive{
  display: inline-block !important;
}